.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  padding: 0.5rem 2.5rem;
  box-shadow: 0px 4px 4px 0px rgba(27, 27, 27, 0.25);
  position: relative; /* Ensure positioning context for z-index */
  z-index: 2; /* Set z-index to be above other elements */
}

.imgLogo {
  width: 9rem;
  height: 5rem;
}

.navButtons {
  display: flex;
  flex-direction: row;
}

.LinkFlex {
  align-items: center;
  gap: 3.5rem;
  display: flex;
}

.LinkFlex li {
  position: relative;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: center;
}
.navLink {
  color: var(--black);
}
.active {
  background-color: #1c2cbc;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.profileIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.flexIconNavbar {
  display: flex;
  gap: 0.9rem;
}
.NotifIcon {
  position: relative;
  background-color: var(--primary-color);
  height: 2.7rem;
  width: 2.7rem;
  margin: 0 auto;
  padding: 0.3rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileIcon2 {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.shake {
  animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
