.flexDivInput {
  position: relative;
  max-width: 100%;
  margin: 0rem auto;
}
.iconLock {
  position: absolute;
  top: 50%;
  font-size: 1.3rem;
  left: 3%;
  transform: translateY(-50%);
}

.inputPass {
  border-radius: var(--border-radius);
  background-color: var(--status-light-blue);
  height: 3.125rem;
  width: 100%;
  padding: 0.3rem 3rem 0.3rem 3rem;
  outline: none;
}

.goeye {
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 1.3rem;
  right: 3%;
  transform: translateY(-50%);
}
