.containerSelect {
  position: relative;
  font-family: "Open Sans";
}
.inputSelect {
  cursor: pointer;
  width: 100%;
  height: 53px;
  padding-left: 3.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2.9rem;
  outline: 0;
  border-radius: var(--border-radius);
  border: 0;
  background-color: #e6eced;
}
.iconDropDown {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  color: var(--status-gray);
  right: 5%;
  top: 50%;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-50%);
}
.iconInfoDown {
  transform: translateY(-50%);
}
.iconInfoUp {
  transform: translateY(-50%) rotate(180deg);
}
.flexSimple {
  gap: 0.5rem;
  display: flex;
  padding: 0.6rem 0;
  align-items: center;
  color: var(--status-gray);
  font-style: italic;
}
.selectContainerDropdown {
  position: absolute;
  background: var(--white);
  border-radius: 0.8rem;
  padding: 1rem;
  width: 100%;
  z-index: 10;
  box-shadow: 2px 2px 10px 0px #1b1b1b40;
}
.imgInsurance {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 999px;
  padding: 0.2rem;
  outline: solid var(--blue) 1px;
}
.textInfoP {
  font-weight: 500;
  font-size: 0.9rem;
}
.ulCont {
  margin: 1rem 0;
}
.liCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 0.9rem;
}
.liCont.active {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 999px;
}
.flexContInsurance {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flexContInsurance p {
}
.textInsurance {
  font-weight: 700;
  font-size: 1rem;
}
.textPrice {
  font-weight: 700;
  font-size: 0.9rem;
}
