.tripsNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    padding: 0.5rem 2.5rem;
}
.LinkFlex {
    gap: 1.5rem;
    display: flex;
}
  
.LinkFlex li {
    position: relative;
    cursor: pointer;
}
