.profileContainer {
  padding: var(--padding-container);
}
.profileContainerBg {
  margin: 0 auto;
  max-width: 873px;
  background-color: #e6eced;
  padding: 1.5rem;
  border-radius: var(--border-radius-1);
}
.profileContainerData {
}
.profileContainerTop {
  background-color: var(--blue-secondary);
  border-radius: 5px 5px 0 0;
  padding: 1rem;
  height: 9rem;
  position: relative;
}
.profileContainerTopName {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
}

.profilePic {
  max-width: none;
  left: 50%;
  bottom: -45%;
  height: 8rem;
  width: 8rem;
  border-radius: 999px;
  transform: translateX(-50%);
  position: absolute;
  outline: solid white 4px;
}
.profileContainerBody {
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--white);
  border-radius: 0 0 5px 5px;
}
.profileBodyNameCont {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.profileBodyNameContEmail {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  gap: 6rem;
}
.flexprofileBodyNameTooltip {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  gap: 0.7rem;
}
.fontLight {
  color: var(--status-gray);
  font-weight: 400;
}
.fontBold {
  font-weight: 700;
  font-size: 1.15rem;
}
.textLight {
  font-weight: 400;
  font-size: 0.9rem;
  font-family: var(--open-sans-font);
  color: #787878;
}
.fontInputEdit {
  border-bottom: solid 1px #bfbfbf;
  font-weight: 700;
  font-size: 1.15rem;
  width: 100%;
}
.widthfull {
  width: 100%;
}
.changePass {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 0.9rem;
}
/* Change Pass */
.profileContainerTopNameBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.profileContainerChangePass {
  text-align: center;
  padding: 5rem 1rem 1rem 1rem;
  background-color: var(--white);
}

.textPassLeft {
  text-align: left;
}
.marginTopBottom {
  width: 25rem;
  margin: 1.3rem auto;
}
.marginTopBottom h2 {
  margin-bottom: 0.4rem;
  text-align: left;
}
/* .flexDivInput {
  position: relative;
  max-width: 25rem;
  margin: 1rem auto;
}
.iconLock {
  position: absolute;
  top: 45%;
  font-size: 1.3rem;
  left: 3%;
}
.inputPass {
  border-radius: var(--border-radius);
  background-color: var(--status-light-blue);
  height: 3.125rem;
  width: 25rem;
  padding: 0.3rem 3rem 0.3rem 3rem;
  outline: none;
  margin-bottom: 0.5rem;
}
.goeye {
  position: absolute;
  right: 3%;
  font-size: 1.3rem;
  top: 45%;
} */
