.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.center {
  text-align: center;
}
.center h2 {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 800;
  line-height: 48.76px;
}
.center h3 {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 32.68px;
  opacity: 50%;
  padding-top: 1rem;
}

.loginCredentials {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.email {
  padding-bottom: 1.5rem;
}
.email label {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
  line-height: 24.38px;
}

.password label {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
  line-height: 24.38px;
}
.imgLeft {
  width: 50%;
}

.back {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  left: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
}
.imgLoginPic {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.imgLoginLogo {
  width: 8rem;
  height: 6rem;
  margin: 0 auto;
}
.formRight {
  position: relative;
  padding: 1rem 5.5rem;
  width: 50%;
}
.contsimple {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contsimple input[type="checkbox"] {
  background-color: black;
}

.contsimple label {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}

.flexCont {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
}
.noAccount {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  padding-top: 1.5rem;
  text-align: center;
}
.link {
  color: var(--blue);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
}

.buttonClickFlex {
  display: flex;
  margin: 1rem auto 0 auto;
  width: 8rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
}
.clickShowButton {
  cursor: pointer;
  border-radius: 999px;
  height: 0.8rem;
  width: 0.8rem;
  background-color: gray;
}
.activeButton {
  background-color: var(--blue);
  width: 4rem;
}
@media only screen and (max-width: 1090px) {
  .formRight {
    padding: 1rem 1.5rem;
  }
}
@media (max-width: 830px) {
  .imgLeft {
    display: none;
  }
  .formRight {
    width: 100%;
  }
}
