.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:2000;
}
.u-hidden{
  display: none;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
  }
  .successPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .center {
    text-align: center;
  }
  
  .center h2 {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 800;
    line-height: 48.76px;
    padding-top: 2rem;
  }
  .regSuccess {
    text-align: center; /* Center text horizontally */
  }
  .regSuccess h2 {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 800;
    line-height: 48.76px;
    padding-top: 30rem;
    
}
.regSuccess h3 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 32.68px;
  opacity: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
  
  .center h3 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    opacity: 50%;
    padding-top: 1rem;
  }
  
  .loginCredentials {
    padding-top: 3.5rem;
  }
  
  .email {
    padding-bottom: 1.5rem;
  }
  
  .email label {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
  }
  
  .password label {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
  }
  .firstName {
    padding-bottom: 1.5rem;
  }
  .manufacturer {
    padding-bottom: 1.5rem;
  }
  .firstName label {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
  }
  .lastName label {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
  }
  .mobileNo label {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
  }
  .manufacturer label {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
  }
  .plateNumber label {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
  }
  
  .imgLoginPic {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    
  }
  
  .imgLoginLogo {
    width: 8rem;
    height: 6rem;
    margin: 0 auto;
  }
  .imgRight{
    width: 50%; 
  }
  .formRight {
    width: 50%;
    padding: 4rem 7.5rem;
  }
  
  .contsimple {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .contsimple input[type="checkbox"] {
    background-color: black;
  }
  
  .contsimple label {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
  }
  
  .flexCont {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
  }
  
  
  .noAccount {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    padding-top: 1.5rem;
    text-align: center;
  
  }
  .link {
    color: var(--blue);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
  
  }
  .imgSuccessLogo {
    width: 32.5rem; 
    height: 23.895rem; 
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 1; 
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container {
      flex-direction: row-reverse; /* Reverse the order of flex items */
    }
  
    .imgLeft {
      display: none; /* Hide the image for larger screens */
    }
  
    .formRight {
      width: 50%; /* Take up half of the container's width */
    }
  
    .imgLoginPic {
      display: block; /* Display the image for larger screens */
    }
  }
  