.flexBookNow {
  height: 90vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonContCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin-top: 5rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 600;
  background-color: var(--blue);
  color: var(--white);
  padding: 0.6rem 1.6rem;
  border-radius: var(--border-radius);
}
.icon {
  width: 1.5rem;
}
.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: solid 2px var(--blue);
  gap: 1rem;
  font-weight: 600;
  background-color: var(--white);
  color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}
