.scheduleinfoContainer {
  max-width: 546px;
  width: 26rem;
}
.scheduleInfoTop {
  display: flex;
  background-color: var(--blue);
  border-radius: 1rem 1rem 0 0;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}
.scheduleInfoToph2 {
  font-weight: 600;
  font-size: 1rem;
}
.flexTextMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 3.5rem 0;
}
.scheduleInfoBody {
  padding: 0rem 1.2rem 1.5rem 1.2rem;
}
.marginTop {
  margin-top: 2rem;
}
.scheduleInfoBodyh3 {
}
.flexButton {
  margin-top: 1rem;
  align-items: center;
  gap: 2rem;
  display: flex;
}
.flexCalendarTextBlue {
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--blue);
}
